/*her importere jeg mine andre css filer*/
@import url(gallerySlider.css);

/*Her importere jeg alle fonts fra google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    max-width: 100%;
    display: block;
}
/*her fjerner jeg menubar ikonet, men så bliver det vist igen når vi rammer tablet versionene*/
.invisible{
    display: none;
}
#wrapper{
    
    max-width: 1000px;
    margin: 0 auto;
}
/*Jeg sætter main til at være 1000px bred*/
main{
    max-width: 1000px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
/*Dog skal min forside main være 960px bred, fordi det vil passe til inholdet*/
main#forside{
    max-width: 960px;
}
/*Det her er styllingen til menuen*/
nav ul.menu {
    display: flex;
    background-color: #EEEEEE;
    justify-content: space-between;
    padding: 1.25em 1em;
    gap: 2em;
    
    
}
nav ul.menu li{
    list-style: none;
}
nav ul.menu li.last_before_menu_ikon{
    margin-left: auto;
}
nav ul.menu li a{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 0.875em;
    line-height: 1em;
    font-weight: 400;
}
/*aktuelle side classen, gives til det link til den side man er inde og besøge*/
nav ul li a.aktuelleside{
    color:#E30613;
    font-weight: 800;
}
/*Nu styler jeg footeren*/
footer{
    background-color: #000000;
    padding: 1.125em 0;
}
footer p{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1.25em;
    text-align: center;
    padding-bottom: 1em;
}
/*Nu kommer vi til forsiden*/
.topNews{
    margin: 1.8125em 0;
    display: flex;
    gap: 1.25em;
    flex-wrap: wrap;
}
.topNews article h2{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 1.125em;
    padding-top: 0.611em;
    color: #000000;
    text-decoration: none;
}
.topNews article a{
    text-decoration: none;
}
.topNews article {
 max-width: 225px;
 
}

div.preview_most_read{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-bottom: 1.75em;
    row-gap: 2em;

}
p.p_width_padding-top{
    padding-top: 0.5em;
}

section.preview{
grid-column: 1/9;
}
section.preview h2{
    margin-top: 0.43em;
    font-size: 2.75em;
}
section.preview p{
   
    font-size: 1.5em;
}
section.most_read{
    grid-column: 9/ 13;
    padding-left: 1.5625em;
   
}
section.most_read h3{
    color: #E30613;
    font-size: 1.75em;
}
section.most_read ul{
    list-style: none;
}
section.most_read ul li{
    padding: 0.75em 0;
    font-size: 1.375em;
}
section.last_story_frontpage{
    grid-column: 1/-1;
    grid-row: 2/3;
}
section.last_story_frontpage img{
    margin-bottom: 1.25em;
}
section.last_story_frontpage h2{
    font-size: 2.75em;
    max-width: 868px;
}
section.last_story_frontpage p{
    font-size: 1.5em;
    margin-bottom: 4em;
    max-width: 868px;
}

/*Nu kommer vi til TourDeFrance Siden*/

div.Heading_over_image{
    max-width: 826px;
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    top: -5em;
    position: relative;
    background-color: #FFFF;
    padding: 1.125em 0 0 0;
}
div.Heading_over_image p:first-child{
    color: #E30613;
    font-size: 1.125em;
    padding-bottom: 1em;
}
div.Heading_over_image h1{
    padding-bottom: 32px;
    font-size: 3.5em;
    max-width: 702px;
    
}
div.Heading_over_image p:last-child{
   color: #00000074;
    font-size: 1.625em;
    font-weight: 400;
    max-width: 702px;
    
    
}
div.first_box_text, section.first_box_text{
    max-width: 826px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    
   }
div.byLine{
    max-width: 230px;
    font-size: 0.75em;
    padding-bottom: 1.75em;
    font-weight: 500;
    grid-column: 2/3;
   
}
/*her gør jeg den sidste "p" i byLine diven font weight light*/
div.byLine p:last-child{
   font-weight: 300;
}
div.breadTekst{
    grid-column: 2/3;
    max-width: 480px;
   
}
/*her giver jeg den sidste boks noget padding bottom, fordi den skal have afstand til footeren*/
section.first_box_text:last-of-type{
    padding-bottom: 63px;
}
div.breadTekst p{
    font-size: 1.125em;
    width: 480px;
    padding-bottom: 1em;
    font-weight: 400;
  
}
section.first_box_text h3{
    grid-column:2/3 ;
    padding-bottom: 1em;
    font-size: 1.25em;
}
section.first_box_text h4{
    grid-column:2/3 ;
   padding-bottom: 1em;
   font-size: 1.125em;
   font-style: italic;
   font-weight: 600;
}
section.first_box_text p{
    grid-column: 2/3;
    width: 480px;
    font-size: 1.125em;
    width: 480px;
    padding-bottom: 1em;
    font-weight: 400;
  
}
/*Nu kommer css koden til google maps iframen*/
div.google-map {
    position: relative;
    padding-bottom: 447px;  /* forholdet mellem højde og bredde*/
    height: 0;
    overflow: hidden;
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    justify-content: center;
    margin-bottom: 48px;
}
div.google-map p{
    align-self: end;
    color: #00000076;
    font-size: 0.625em;
    width: 134px;
}
.google-map iframe {
    
    top: 0;
    left: 0;
    width: 661px !important;
    height: 447px !important;
}
/*Nu kommer vi til abonnement_valg siden*/
h1.heading_abonnements_valg{
    text-align: center;
    padding: 41px 0 22px 0;
    font-size: 3.3125em;
}
div.abonnement_kasser_Parent{
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
div.abonnement_kasser_Parent section.abonnement_kasser_div_childs{
    background-color: #EEEEEE;
    height: 435px;
    padding: 39px 0 34px 0;
  
    
    width: 239px;

}
/*her laver jeg et "p" element som skal være til udfyldning, derfor gøre jeg det usynligt, men ikke "display: none"*/
p.inviceble_p_fill{
    color: transparent;
}
section.abonnement_kasser_div_childs h2{
   text-align: center;
   font-size: 1.125em;
   padding-bottom: 43px;
    
} 

section.abonnement_kasser_div_childs p{
    margin: 0 auto;
    width: 197px;
    padding-bottom: 1em;
    font-size: 0.75em;
    font-weight: 500;
}
section.abonnement_kasser_div_childs p:last-of-type{
   padding-bottom: 9px;
   font-size: 0.625em;
   text-align: center;
}
section.abonnement_kasser_div_childs p.big_price{
    margin: 0 auto;
    font-size: 3.5em;
    text-align: center;
    font-weight: 800;
    padding-bottom: 12px;
}

section.abonnement_kasser_div_childs a {
    display: grid;
    text-align: center;
    align-items: center;
    text-decoration: none;
    width: 189px;
    cursor: pointer;
    height: 46px;
    background-color: #E30613;
    color: white;
    font-size: 1.125em;
    font-family: "Inter", sans-serif;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    
}
.tryNow_button_div{
    width: 100%;
    display: grid;
    justify-content: center;
}
div.student{
    text-align: center;
 
    background-color: #EEEEEE;
    padding: 15px 0 21px 0;
    max-width: 800px;
    margin: 39px auto 0 auto;
}
div.student p{
    padding-bottom: 24px;
}
div.student a{
    width: 158px;
    height: 30px;
    background-color: #E30613;
    text-decoration: none;
    display: grid;
    align-items: center;
    color: white;
    font-size: 0.75em;
    font-family: "Inter", sans-serif;
    border: none;
    font-weight: 400;
    border-radius: 4px;
}
.tilbudstekst{
    max-width: 800px;
    padding-top: 39px;
    font-size: 1.5em;
    margin: 0 auto;
}
.read-more{
    max-width: 800px;
    padding-top: 1em;
    margin: 0 auto;
    font-style: italic;
    margin-bottom: 87px;

}

/*Nu kommer vi til "abonnement_form_site.html*/

/*den sidste p i formen som viser fejlbesked*/
#besked{
    max-width: 300%;
    width: 300%;
}
div.forms_and_submit{
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.125em;
}
.form-border{
    width: 536px;
    background-color: #EEEEEE;
   
    
   
   }
   form{
    padding-top: 52px;
    padding-right: 36px;
    padding-bottom: 25px;
       display: grid;
       grid-template-columns: 0.7fr 1.5fr;
       width: 500px;
       font-family: "Inter", sans-serif;
       column-gap: 1em;
       row-gap: 0.8125em; 
       padding-left: 1em;
   }
   form label{
       font-size: 0.75em;
       justify-self: end;
       width: 151px;
       text-align: right;
   }
   label span{
       padding-left: 9px;
       color: red;
       font-size: 1.2em;
   }
   form input{
      height: 23px;
       border: none;
       
   }
   div.checkBoxDiv{
       display: grid;
       grid-template-columns: 20px 256px;
     
       width: 100%;
       grid-column: 2/3;
       justify-content: start;
       row-gap: 1em;
       padding: 1em 0;
       font-size: 0.625;
   }
   form div.checkBoxDiv input{
       justify-self: start;
    
      border: 2px solid red;
       margin: 0;
   }
   form div.checkBoxDiv label{
       font-size: 0.625em;
       text-align: left;
       width: auto;
    
   }
   /*dette er css koden til boksen til højre, altså boksen med købs detaljerner*/
   div.buyed_info{
    width: 228px;
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #EEEEEE;
    padding: 1.125em 0;
    
    height: 65%;
   
    
   }
   div.buyed_info div.buyed_info_div_place_center{
    max-width: 200px;
    margin: 0 auto;
    font-size: 16px;
   

}
   div.buyed_info h2{
    font-size: 1.125em;
   
    padding-bottom: 1em;
 
  
   
   }
   div.buyed_info p{
    font-size: 0.75em;
   
   
   }
   div.buyed_info p:first-of-type{
    padding-bottom: 1em;
    font-size: 0.625em;
   
   }
   div.buyed_info p:last-of-type{
    font-size: 0.625em;
   }

   div.buyed_info div.prices_widthBorder_formSite{
    font-size: 0.75em;
    width: 100%;
    display: grid;
    justify-content: start;
    grid-template-columns: 9fr 1fr;
    align-items: center;
    padding: 0.7em 0;
  
    border-bottom: 1px solid black;
   }
   /*her bliver jeg nød til at vælge den første gruppe og give den begge border's 1px solid black, mens jeg med de resternede grupper bare har det på border bottom*/
   div.buyed_info div.prices_widthBorder_formSite:first-of-type{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
   }
   div.buyed_info div.prices_widthBorder_formSite p{
    font-size: 1em;
    width: 100%;
    padding: 0;
    
   }
   div.buyed_info div.prices_widthBorder_formSite:last-of-type p{
    font-weight: 800;
   }
   div.buyed_info div.prices_widthBorder_formSite:last-of-type {
  margin-bottom: 2.88em;
   }
 button.bestil_button{
    width: 190px;
    height: 46px;
    background-color: #E30613;
    color: white;
    font-size: 1.125em;
    font-family: "Inter", sans-serif;
    border: none;
    font-weight: 400;
    border-radius: 4px;
    place-self: end;
    grid-row: 1/2;
    grid-column: 2/3;
 }
 div.textUs{
  width: 807px;
  padding-top: 0.9375em;
  padding-bottom: 1.3125em;
 text-align: center;
 font-size: 0.75em;
  background-color: #EEEEEE;
  margin: 4.25em auto 8.625em auto;
  
 }
 div.textUs p{
   padding-bottom: 1.125em;
}
div.textUs button{
    width: 160px;
    height: 30px;
    background-color: #E30613;
    color: white;
    font-family: "Inter", sans-serif;
    border: none;
    border-radius: 4px;
}
/*Det her er en enkel lijne kode til den sidste side, altså abonnement_form_site.html*/
#ending{
    margin-bottom: 10.25em;
}
/*Nu kommer vi til media queiriesne*/
/*Den første her, er til ipad*/
@media only screen and (max-width: 801px) {
    /*Jeg starter med at lave en class som heder "invisible" den skal bruges til at skjule nogle af menupinkterne på tablet versionene*/


    /*Her laver jeg alt koden til burger menuen*/
    /*Her laver jeg om på rækkefølgen i menuen (den starter på 2, fordi at den første item er "ikøbenhavn" logoet som har position absolute*/
     /*NYHEDER*/
    nav ul li:nth-of-type(2){
       
        order: 1;
    }
    /*POLITIK*/
    nav ul li:nth-of-type(3){
        order: 3;
    }
     /*DEBAT*/
    nav ul li:nth-of-type(4){
       
        order: 2;
    }
    /*SPORT*/
    nav ul li:nth-of-type(5){
        order: 4;
    }
    /*KULTUR*/
    nav ul li:nth-of-type(6){
        order: 5;
    }
    /*Begivenheder*/
    nav ul li:nth-of-type(7){
        order: 6;
    }
    /*ABONNEMENT*/
    nav ul li:nth-of-type(8){
        order: 7;
    }
/*Dette er css koden til "ikøbenhavn" logoet*/    
nav ul li:first-of-type{
    position: absolute;
    top: 20%;
    left: 1%;
}
/*Dette er css koden til burgermenu ikonet logoet*/    
nav ul li:last-of-type{
    position: absolute;
    left: 95%;
    top: 15%;
}
nav{
    width: 100%;
    
    position: fixed;
    background-color:   #EEEEEE;
    z-index: 1000;
    
}
nav.burgermenubar, ul.burgermenubar{
    height: 100%;
  
}
/*Denne lille css kode gør at "inkøbenhavn" logoet og menubar har den rette astand til toppen, når menuen bliver foldet ud*/
nav ul li:first-of-type.burgermenubar, nav ul li:last-of-type.burgermenubar{
    top: 1%;


}
ul.burgermenubar{
    padding-top: 10em; 
}
nav ul.menu{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul.menu li.last_before_menu_ikon{
margin-left: 0;
}
nav ul.menu li{
    font-size: 1.5em;
}


/*Nu kommer vi til stylingen af forsiden*/

main#forside{
    max-width: 640px;
}
div.topNews{  
    margin-top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
  }
  div.topNews article, div.topNews article a{  
    max-width: 100%;
  }
       
    div.preview_most_read{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        row-gap: 3em;
        margin-bottom: 5em;
    }
    div.preview_most_read section{
        width: 100%;
        grid-column: 1/-1;
        
    }
    section.most_read{
        grid-column: 9/ 13;
        padding-left: 0;
       
    }
    section.last_story_frontpage p{
        font-size: 1.5em;
        margin-bottom: 0em;
        max-width: 868px;
    }
/*Nu kommer vi til tour de france siden*/
    div.Heading_over_image h1{
   font-size: 3em;
   max-width: 625px;
   margin: 0 auto;
}
div.Heading_over_image p:last-child{
    font-size: 1.25em;
    max-width: 625px;
    margin: 0 auto;
 }
 /*Nu kommer css koden til google maps iframen*/
div.google-map {
    
    grid-template-columns: repeat(1, 1fr) ;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    overflow: unset;
    margin-bottom: 5em;
    
   
}
div.google-map p{
    align-self: end;
    color: #00000076;
    font-size: 0.625em;
    max-width: 513px;
   
    grid-column: 1/-1;
    grid-row: 2/3;
    position: unset;
    display: block;
    text-align: center;
    padding: 1em 1em ;
    
   
    
}
.google-map iframe {
    grid-column: 1/-1;
    grid-row: 1/2;
    top: 0;
    left: 0;
    max-width: 530px !important;
    height: 447px !important;
}
section.first_box_text p{
    grid-column: 2/3;
    max-width: 513px;
    width: 513px;
    font-size: 1.125em;
    
    padding-bottom: 1em;
    font-weight: 400;
  
}

/*Nu kommer vi til abbonement_valg__html_siden*/
h1.heading_abonnements_valg{
    max-width: 640px;
     font-size: 3em;
     margin: 0 auto;
 }
div.abonnement_kasser_Parent{
    max-width: 640px;
flex-direction: column;
row-gap: 2em;
}
div.abonnement_kasser_Parent section.abonnement_kasser_div_childs{
    width: 100%;
    height: auto;
}
div.student{
   
    max-width: 640px;
   
}
p.tilbudstekst, p.read-more{
    width: 530px;
}

section.abonnement_kasser_div_childs h2{
font-size: 1.5em;
padding-bottom: 1em;
}
section.abonnement_kasser_div_childs p{
    font-size: 0.875em;
    max-width: 240px;
    width: 240px;
    }
    /*Her fjerner jeg det usynlige p, da det skaber for meget mellemrum, når tingene går lodret*/
    section.abonnement_kasser_div_childs p.inviceble_p_fill{
        display: none;
    }
    section.abonnement_kasser_div_childs p.big_price{
        padding-top: 0.8em;
    }
    section.abonnement_kasser_div_childs p:last-of-type{
        padding: 2em 0;
    }
    section.abonnement_kasser_div_childs div.tryNow_button_div button{
        font-size: 1.125em;
        max-width: 320px;
        width: 320px;
        
        }

   /*Nu kommer vi til abbonement_form_siden*/

   div.forms_and_submit{
    max-width: 640px;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2em;
   }
   div.forms_and_submit div.form-border{
    grid-column: 1/-1;
    width: 100%;
   }
   div.buyed_info{
    grid-column: 1/-1;
    grid-row: 2/3;
    height: auto;
    width: 100%;
   }
   button.bestil_button{
    grid-column: 1/-1;
    grid-row: 3/4;
    margin: 0 auto;
    max-width: 250px;
    width: 250px;
   }
   div.buyed_info div.prices_widthBorder_formSite:last-of-type {

   margin-bottom: 0.5em;
   }
   div.buyed_info p.italic_on_ipadd {

    font-style: italic;
    font-weight: 800;
    max-width: 280px;
    }
   div.buyed_info div.buyed_info_div_place_center{
    max-width: 480px;
   }
   div.textUs{
    max-width: 640px;
   }
   
  }

/*Nu kommer vi til media querinties for telefon*/
  @media only screen and (max-width: 501px) {
    
    main#forside, main{
        max-width: 360px;
    }
    div.topNews{  
        margin-top: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5em;
      }
      div.topNews article{  
       grid-column: 1/-1;
      }
 /*nu kommer vi til tour de france siden*/
 div.Heading_over_image h1{
    font-size: 3em;
    max-width: 360px;
    margin: 0 auto;
 }
 div.Heading_over_image p:last-child{
     font-size: 1.25em;
     max-width: 360px;
     margin: 0 auto;
  }
  /*Nu kommer css koden til google maps iframen*/
 div.google-map {
     
     grid-template-columns: repeat(1, 1fr) ;
     grid-template-rows: repeat(2, auto);
     justify-items: center;
     overflow: unset;
     margin-bottom: 5em;
     
    
 }
 div.google-map p{
     align-self: end;
     color: #00000076;
     font-size: 0.625em;
     max-width: 360px;
    
     grid-column: 1/-1;
     grid-row: 2/3;
     position: unset;
     display: block;
     text-align: center;
     padding: 1em 1em ;
     
    
     
 }
 .google-map iframe {
     grid-column: 1/-1;
     grid-row: 1/2;
     top: 0;
     left: 0;
     max-width: 360px !important;
     height: 447px !important;
 }
 section.first_box_text p{
     grid-column: 2/3;
     max-width: 513px;
     width: 360px;
     font-size: 1.125em;
     
     padding-bottom: 1em;
     font-weight: 400;
   
 }
 div.breadTekst p {
    width: 360px;
 }


}