*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    width: 100%;
    display: block;
}

.gallery-grid,
.slider-grid{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
/*Her siger jeg at gallery-grid skal have 3 kollonner i sit grid*/
.gallery-grid{
   
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 3.5em 0 2.75em;
}
.slider-grid{
    width: 661px;
    grid-column: 2/3;
    grid-template-columns: repeat(1, auto);
}
.slider{
    width: 661px;
    grid-area: 1/1/2/-1;
    overflow: hidden;
    order: 1;
}
.slide{
    display: none;
}
.slide--active{
    display: block;
    order: 2;

}
/*Her sætter jeg caption i trejde grid til venstre*/
.caption{
    font-size:0.625em;
    line-height: 1.6em;
    align-self: end;
    width: 14.3em;
    color: rgba(0, 0, 0, 0.541);
    grid-column: 3/4;
}
/*nu styler vi pilene så vi først lægger dem oppe på billedet */
#next,
#back{
    grid-area: 1/1/2/-1;
    font-size: 2.5em;
    margin: 0.5em;
    cursor: pointer;
    color: #fff;
    order: 3;
    
}
/*Nu rykker jeg den ene pil over til højre og den anden pil over til venstre*/

#next{
    justify-self: end;
}
#back{
    justify-self: start;
}
.slide--left,
.slide--right{
    width: 100%;
}

.slide--left{
    animation: 800ms slide-left;
}
@keyframes slide-left{
    from{
        margin-left:100%;

    }
    to{
        margin-left: 0%;
    }
}
.slide--right{
    animation: 800ms slide-right;
}
@keyframes slide-right{
    from{
        margin-left:-100%;

    }
    to{
        margin-left: 0%;
    }
}

@media only screen and (max-width: 801px) {
p.caption{
        font-size:0.625em;
        line-height: 1.6em;
        
        max-width: 530px;
        width: 80%;
        text-align: center;
        color: rgba(0, 0, 0, 0.541);
        grid-column: 2/-1;
        grid-row: 2/3;
        justify-self: center;
    }
    .slider{
        max-width: 530px;
        grid-area: 1/1/2/-1;
        overflow: hidden;
        order: 1;
    }

}
@media only screen and (max-width: 401px) {
   
        .slider{
            max-width: 336px;
           
        }
        .slider-grid{
            width: 100%;
        }
    
    }